# requirements.txt
fastapi
uvicorn[standard]
gunicorn
transformers
google-genai
python-dotenv   
python-multipart
sentence-transformers
torch
accelerate
einops
cachetools
gradio_client       # Server can't load Qwen3

# RAG
faiss-cpu
pymongo

# SQLs
vanna
sqlalchemy
pymysql
db-sqlite3
pandas
plotly
python-abc
tenacity
clickhouse-connect