# requirements.txt
fastapi
uvicorn[standard]
gunicorn
python-dotenv   
python-multipart
torch
accelerate
einops
cachetools

# LLM
google-genai
google-api-core
#gradio_client      # Server can't load Qwen3, yet use Gemini for API demo

# RAG
faiss-cpu           # Lightweight but not efficient
pymongo 
databases[aiomysql]
# qdrant-client
# chromadb          # Switch to qdrant if needed
transformers
sentence-transformers

# SQLs 
# vanna             # Use customized modules             
sqlalchemy
pymysql
db-sqlite3
pandas
# plotly
python-abc
tenacity
clickhouse-connect