# requirements.txt
fastapi
uvicorn[standard]
gunicorn
google-genai
python-dotenv   
python-multipart
sentence-transformers
torch
accelerate
einops
cachetools
gradio_client       # Server can't load Qwen3, yet use Gemini for API demo

# RAG
faiss-cpu           # Lightweight but not efficient
pymongo 
databases[aiomysql]
# qdrant-client
chromadb            # Switch to qdrant if needed
transformers
sentence-transformers

# SQLs
vanna
sqlalchemy
pymysql
db-sqlite3
pandas
plotly
python-abc
tenacity
clickhouse-connect